header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}


body {
    background-image: linear-gradient(to bottom, #ffffff, #4f6d93);
    background-color: #4f6d93;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid #3399cc;
    width: 80%;
    border-spacing: 0;
}

td {
    padding: 5px;
    border: 1px solid #3399cc;
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(odd) {
    background-color: #f5fafc;
}

th {
    padding: 5px;
    border: 1px solid #3399cc;
}

main {
    background-color: #ffffff;
    margin-left: 190px;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
}

header {
    color: #ffffff;
    background-color: #000033;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

nav {
    font-weight: bold;
    padding: 20px;
    float: left;
    width: 160px;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

a:link {
    color: #000033;
}

a:visited {
    color: #344873;
}

a:hover {
    color: #ffffff;
}

h2 {
    color: #3399cc;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #cccccc;
}

h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}

#mobile {
    display: none;
}

#desktop {
    display: none;
}

@media only screen and (max-width: 64em){
    body {
        margin: 0;
        background-color: #ffffff;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    #homehero {
        margin-left: 0;
        height: 200px;
    }
    #yurthero {
        margin-left: 0;
        height: 200px;
    }
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 37.5em) {
    #header {
        padding-top: 1em;
    }
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    nav a {
        display: block;
    }
    #homehero {
        background-image: none;
        height: 0;
    }
    #yurthero {
        background-image: none;
        height: 0;
    }
    #trailhero {
        background-image: none;
        height: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
}

#contact {
    font-size: 90%;
}

#wrapper {
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    background-color: #90c7e3;
    box-shadow: 3px 3px 3px #333333;
}

#homehero {
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#trailhero {
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

h1 {
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 0;
}

main ul {
    list-style-image: url(images/marker.gif);
}

footer {
    margin-left: 190px;
    background-color: #ffffff;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
}